footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 73, 92);
    color: white;
    padding: 20px 0;
}

footer p {
    justify-content: center;
    text-align: center;
}

footer a {
    color: white;
    font-weight: normal;
    text-decoration: none;
    padding: 0 5px;
}

footer span {
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    color: #FA573A;
}

@media (min-width: 1024px) {
    footer p {
        justify-content: flex-start;
        text-align: left;
        margin-left: 20px;
    }
}