.hero {
    background-color: #999;
    background-image: url(../../images/fondo.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    display: flex;
}

.hero .container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 88%;
    margin: auto;
}

.hero h1 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.hero h2 {
    color: #FA573A;
    font-size: 1.25em;
    text-align: left;
}

.hero p {
    font-size: 1.15em;
}

.boton {
    display: inline-block;
    background-color: #FA573A;
    padding: 1.15em;
    color: white;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #FA573A;
}

:is(h2, .boton) {
    margin: 20px 0;
}

.boton:hover {
    background-color: transparent;
    color: #FA573A;
}

.boton i {
    transition: 1s;
}

.boton:hover i {
    transform: translateX(5px) scale(1.20);
}

.hero ul {
    display: flex;
    width: 10em;
    justify-content: space-between;
}

.hero ul a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    transition: 1s;
}

.hero ul a:hover {
    color: #FA573A;
    font-size: 3em;
}